.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header {
  padding: 1px;
  font-family: "Calisto MT";
  font-weight: 600;
  font-size: 30px;
  color: rgb(255, 66, 66);
}

/* .Body {
  justify-content: center;
} */
